### Step 1: Load and Merge Data

We have three sheets:
- Sector info (symbol → sector)
- Stock prices from 2010–2020
- Stock prices from 2021–2024

Let’s load and merge these sheets into a single DataFrame.

In [24]:
import pandas as pd

pd.set_option('display.max_columns', None)  # Show all columns in DataFrame
pd.set_option('display.max_rows', 1000)  # Show all rows in DataFrame


# Load Excel file
excel_file = './stock_market_data.xlsx'

# Read each sheet
sector_df = pd.read_excel(excel_file, sheet_name='Sector')
prices_2010_2020 = pd.read_excel(excel_file, sheet_name='2010-2020')
prices_2021_2024 = pd.read_excel(excel_file, sheet_name='2021-2024')

# Combine price data
price_df = pd.concat([prices_2010_2020, prices_2021_2024], ignore_index=True)

# Show preview
print(sector_df.head())
print(price_df.head())

       Symbol        Sector
0   1JANATAMF  MUTUAL FUNDS
1     1STBSRS  MUTUAL FUNDS
2      1STICB  MUTUAL FUNDS
3  1STPRIMFMF  MUTUAL FUNDS
4      2NDICB  MUTUAL FUNDS
        Date      Symbol  Open_Price  High_Price  Low_Price  Closing_Price
0 2010-01-03     1STBSRS      1265.0     1265.00     1140.0        1149.25
1 2010-01-03      1STICB      8200.0     8200.00     8000.0        8100.00
2 2010-01-03  1STPRIMFMF        32.3       32.60       31.7          31.80
3 2010-01-03      3RDICB      1632.0     1632.00     1632.0        1632.00
4 2010-01-03      4THICB      1676.0     1680.75     1672.0        1676.00

### Step 2: Clean and Prepare the Data

Now we will:
- Convert the 'Date' column to datetime format  
- Merge with the sector info  
- Keep only 'Date', 'Sector', and 'Closing_Price'  
- Sort the data chronologically

In [27]:
# Convert Date to datetime format
price_df['Date'] = pd.to_datetime(price_df['Date'])

# Merge with sector information
merged_df = pd.merge(price_df, sector_df, on='Symbol', how='left')

# Keep only necessary columns

clean_df = merged_df[['Date', 'Sector', 'Closing_Price']]

#debug sectoral data
# clean_df = merged_df[['Date','Symbol', 'Sector', 'Closing_Price']]

# Sort the data by Date
clean_df = clean_df.sort_values(by=['Date','Sector']).reset_index(drop=True)

clean_df.head(50)

         Date          Sector  Closing_Price
0  2010-01-03            BANK        1139.75
1  2010-01-03            BANK         522.25
2  2010-01-03            BANK         452.00
3  2010-01-03            BANK         687.25
4  2010-01-03            BANK         714.50
5  2010-01-03            BANK         465.25
6  2010-01-03            BANK        1910.25
7  2010-01-03            BANK         610.50
8  2010-01-03            BANK         367.75
9  2010-01-03            BANK         221.00
10 2010-01-03            BANK        1002.00
11 2010-01-03            BANK         895.25
12 2010-01-03            BANK         591.00
13 2010-01-03            BANK         511.75
14 2010-01-03            BANK         381.50
15 2010-01-03            BANK         400.25
16 2010-01-03            BANK         628.75
17 2010-01-03            BANK         561.50
18 2010-01-03            BANK         451.75
19 2010-01-03            BANK         320.00
20 2010-01-03            BANK         654.50
21 2010-01-03            BANK         607.00
22 2010-01-03            BANK        1407.75
23 2010-01-03            BANK         355.50
24 2010-01-03            BANK         302.00
25 2010-01-03            BANK         345.25
26 2010-01-03            BANK         325.25
27 2010-01-03            BANK         419.75
28 2010-01-03            BANK        1431.50
29 2010-01-03          CEMENT         628.00
30 2010-01-03          CEMENT        1410.25
31 2010-01-03          CEMENT        2253.00
32 2010-01-03          CEMENT         512.75
33 2010-01-03          CEMENT        1370.00
34 2010-01-03        CERAMICS         404.25
35 2010-01-03        CERAMICS         462.00
36 2010-01-03        CERAMICS          81.50
37 2010-01-03        CERAMICS         277.00
38 2010-01-03  CORPORATE BOND         971.25
39 2010-01-03     ENGINEERING        2040.50
40 2010-01-03     ENGINEERING         371.75
41 2010-01-03     ENGINEERING         397.80
42 2010-01-03     ENGINEERING         492.25
43 2010-01-03     ENGINEERING         421.50
44 2010-01-03     ENGINEERING        1938.75
45 2010-01-03     ENGINEERING        1197.00
46 2010-01-03     ENGINEERING        1036.50
47 2010-01-03     ENGINEERING         689.25
48 2010-01-03     ENGINEERING          57.60
49 2010-01-03     ENGINEERING         436.25